services:

    redis:
        image: "redis:7-alpine"
        container_name: redis
        command: ["redis-server","--appendonly","yes"]
        ports: 
        - "6379"
        volumes:
        -  redis-data:/data
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "redis-cli","PING"]
            interval: 10s
            timeout: 5s
            retries: 5
    user-service:
        build:
            context: ./user-service
            dockerfile: Dockerfile
        # container_name: user-service
        ports:
            - "8005:8000"
        env_file:
            - user-service/.env
        depends_on:
            redis:
                condition: service_healthy
        restart: unless-stopped
        healthcheck:
            test: ["CMD-SHELL", "bash -c '</dev/tcp/127.0.0.1/8000'"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
    task-service:
        build:
            context: ./task-service
            dockerfile: Dockerfile
        # container_name: task-service
        environment:
        - REDIS_HOST=redis
        - REDIS_PORT=6379
        - USER_SERVICE_BASE=http://user-service:8000
        ports:
            - "8002:8002"
        depends_on:
            redis:
                condition: service_healthy
        restart: unless-stopped
        healthcheck:
                test: ["CMD-SHELL", "bash -c '</dev/tcp/127.0.0.1/8002'"]
                interval: 10s
                timeout: 5s
                retries: 5
                start_period: 10s
    nginx:
        image: nginx:alpine
        container_name: api-gateway
        depends_on:
            task-service:
                condition: service_healthy
            user-service:
                condition: service_healthy
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
        ports:
            - "8080:80"
        restart: unless-stopped

volumes:
    redis-data: